/* Imposta il layout del contenitore */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Titolo della pagina */
.login-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

/* Stile del form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile degli input */
.login-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.login-input:focus {
    outline: none;
    border-color: #007BFF;
}

/* Stile del bottone di submit */
.login-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}


.swal-popup {
    z-index: 999999 !important; /* Usa un z-index molto alto */
}

.logout-button {
    background-color: #d9534f; /* Rosso per indicare un'azione di logout */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: #c9302c; /* Colore leggermente più scuro al passaggio del mouse */
}

.logout-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(217, 83, 79, 0.5);
}

.logout-button:disabled {
    background-color: #e6e6e6;
    color: #aaa;
    cursor: not-allowed;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.google-button:hover {
    background-color: #c23321;
}

.register-prompt {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.register-link {
    color: #007BFF;
    cursor: pointer;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}
